.Button {
  color: whitesmoke;
  background-color: tomato;

  border-radius: 7px;
  border: none;

  padding: 5px 15px;
  margin: 25px 15px;

  font-weight: 700;
  font-size: large;

  box-shadow: 25px 25px 25px grey;
}
.over {
  border: 1px solid black;
  box-shadow: 20px 20px 25px grey;
}
.clicked {
  border: 1px ridge grey;
  box-shadow: 10px 10px 25px grey;
}
.Button--lambda{
    color:blue;
}